@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.fp-warning,
.fp-watermark {
  display: none !important;
}
.section-titles {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
}
.vertical-soli-box {
  width: 31%;
}

.vertical-soli-box-icon {
  width: 50px;
}

@media (min-width: 1024px) {
  .blog-bar-container {
    max-width: 994px;
  }
  .vertical-soli-box {
    width: 47%;
  }
  .usecases-home-box {
    width: 47% !important;
  }
}
@media (min-width: 1280px) {
  .blog-bar-container {
    max-width: 1241px;
  }
  .vertical-soli-box {
    width: 47%;
  }
  .usecases-home-box {
    width: 47% !important;
  }
}
@media (min-width: 1536px) {
  .blog-bar-container {
    max-width: 1500px;
  }
  .vertical-soli-box {
    width: 32%;
  }
  .usecases-home-box {
    width: 48% !important;
  }
}
/*NAVBAR*/

.megamenu {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 600px;
}
.megamenu-lists {
  display: flex;
}
.megamenu-content {
  display: flex;
  justify-content: space-between;
}

.megamenu-content .list {
  margin: 0 10px;
}

.megamenu-content h4 {
  margin-bottom: 10px;
}

.megamenu-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap !important;
}

.megamenu-content li {
  color: #333;
  text-decoration: none;
  flex: 1;
}

.megamenu-content ul li a {
  color: #333;
  text-decoration: none;
  width: 200px;
}

.megamenu-content ul li a:hover {
  text-decoration: underline;
}

/* Keep your previous navbar container styling */
.navbar-container {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 5rem;
  padding-top: 1.5rem;

  align-items: center;
  background-color: white;
  display: flex;
}

.logo-container {
  display: inline-block;
}

.navbar-list {
  display: flex;
  width: 100%;
}

.navbar-list ul {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar-list ul li {
  cursor: pointer;
  position: relative;
}

.contact-button {
  border-style: none;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding: 0.5rem;
  background-color: #3b82f6 !important;
  border-radius: 2rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}

.contact-button-hero {
  padding: 0.75rem !important;
}

.contact-button a {
  color: #fff !important;
  font-size: 1.25rem !important;
}

/**/
/*FOOTER*/
/*MAIN-PAGE-HERO*/
.main-page-hero {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    radial-gradient(77.36% 256.97% at 77.36% 57.52%, #eeefaf 0%, #c3e3fa 100%);

  padding-left: 5rem !important;
  padding-right: 5rem !important;
  overflow: hidden;
  padding-top: 1.5rem !important;
  margin-top: 3rem;
}
.main-page-hero-top {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
  margin-top: 7.5rem !important;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 40px;
}
.main-page-hero-bottom {
  justify-content: flex-end !important;
  display: flex !important;
}
.hero-firstTitle {
  font-weight: 600 !important;
  font-size: 25px;
}
.hero-subTitle {
  margin-top: -30px;
  font-size: 20px;
}
.main-page-hero-top p {
  line-height: 1.5 !important;
  font-weight: 400 !important;
  font-size: 1.5rem !important;
}
/**/
.feature-icon {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 10px;
}
.feature-p {
  color: #616161;
}
.feature-title {
  color: #212121;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
/**/
.use-case-button {
  background-color: #3b82f6;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex !important;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: auto;
  margin-bottom: 30px;
  color: white;

  align-items: center;
}
.use-case-button a {
  color: white;
  display: flex;
  font-size: 13px;
}
.use-case-slider {
  margin-bottom: 50px;
}
/**/
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}
.partners-band-parent {
  margin-bottom: 100px;
}

.partners-band {
  margin-top: 50px;
}
.partner-button {
  background-color: #3b82f6;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex !important;
  border-radius: 8px;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  color: white;
  align-items: center;
}
.partner-button a {
  color: white;
}
/**/
.faq-parent {
  display: flex;
  flex-wrap: wrap;
}
.faq-container {
  width: 33%;
}
.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 14px;
}
.p-accordion .p-accordion-header .p-accordion-header-link {
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-component {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  font-weight: normal;
}
.p-accordion .p-accordion-tab {
  margin-bottom: 4px;
}
.p-accordion .p-accordion-header .p-accordion-header-link {
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1.25rem;
  border: 1px solid #e5e7eb;
  color: #6b7280;
  background: #f9fafb;
  font-weight: 700;
  border-radius: 6px;
  transition: box-shadow 0.2s;
}
.p-accordion-header-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
  position: relative;
  text-decoration: none;
}
.p-toggleable-content-enter-done {
  transform: none;
}
.p-accordion .p-accordion-content {
  padding: 1.25rem;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  color: #4b5563;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
/**/
.home-blog {
  display: flex;
  flex-wrap: wrap;
}
.blog-box-parent {
  width: 33.3333%;
  padding: 1rem !important;
}
.blog-box-container {
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03), 0 0 2px rgba(0, 0, 0, 0.06),
    0 2px 6px rgba(0, 0, 0, 0.12) !important;
  background-color: #ffffff !important;
  text-align: left;
}
.blog-box-img {
  display: block;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.blog-box-bottom {
  padding: 1.5rem !important;
}
.blog-box-category {
  margin-bottom: 1rem !important;
  font-weight: 500 !important;
  color: #326fd1;
  display: block;
}
.blog-box-title {
  margin-bottom: 1rem !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  display: block;
  font-weight: 500 !important;
  color: #212121;
  font-size: 1.25rem;
}
.blog-box-info {
  margin-bottom: 1rem !important;
  color: #616161;
  line-height: 1.5 !important;
}
.blog-box-author {
  display: flex;
}
.blog-box-avatar {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}
.blog-box-avatar img {
  border-radius: 50%;
}
.blog-box-author-name-date {
  margin-left: 0.5rem !important;
}
.blog-box-author-name {
  margin-bottom: 0.25rem !important;
  font-weight: 700 !important;
  color: #212121;
  font-size: 0.875rem !important;
}
.blog-box-author-date {
  font-size: 0.875rem !important;
  color: #616161;
  display: flex;
  align-items: center;
  text-align: center;
}
.blog-box-date-icon {
  color: #616161;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}
/**/
.connectivity-button {
  display: flex;
  text-decoration: underline;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 50px;
}
/**/
.contact-parent {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
  padding-top: 2rem !important;
  padding-bottom: 5rem !important;
}
.contact-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}
.contact-left {
  width: 50%;
}
.contact-left-box {
  padding-right: 3rem !important;
}

.contact-input {
  margin-bottom: 1rem;
  text-align: left;
}
.contact-input label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 500 !important;
}
.contact-input input {
  width: 100%;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  font-size: 1.125rem !important;
  color: #495057;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}
.contact-input textarea {
  width: 100%;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  font-size: 1.125rem !important;
  color: #495057;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}
.contact-button {
  color: #ffffff;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
  display: flex;
  width: auto;
  align-items: center;
}
.contact-button svg {
  margin-right: 5px;
  font-size: 20px;
}

.contact-right {
  width: 50%;
  background-image: url(https://blocks.primereact.org/demo/images/blocks/contact/contact-1.png);
  text-align: left;
  background-repeat: no-repeat !important;
  background-position: 100% 100% !important;
}
.contact-right div {
  margin-top: 3rem;
  font-weight: 500 !important;
  color: #616161;
  margin-bottom: 3rem !important;
}
.contact-right a,
li {
  display: flex;
  align-items: center;
}
.contact-right a {
  color: #326fd1;
  cursor: pointer;
  font-weight: 700;
}
.contact-right a svg {
  margin-left: 15px;
  font-size: 22px;
}
.contact-right li svg {
  margin-right: 10px;
  font-size: 18px;
}
.contact-right ul {
  margin-top: 3rem !important;
}
.contact-right ul li {
  margin-bottom: 1rem !important;
  color: #616161;
}

/**/
.footer-parent {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 2.5rem;

  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  padding-left: 5rem !important;
  padding-right: 5rem !important;
  background-color: #212121;
  font-size: 16px;
  color: #f1fff1 !important;
}
.footer-parent a {
  color: #f1fff1 !important;
}
.footer-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}
.footer-container {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}
.footer-container li {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  margin-bottom: 10px;
}
.footer-container li span {
  margin-top: -12px;
}
.footer-container li svg {
  margin-right: 10px;
  align-items: center;
}
.footer-address {
  font-size: 1.125rem !important;
}
/**/
@media screen and (min-width: 1960px) {
  .wrapper {
    width: 1504px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
/**/
.blog-page-parent {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
.blog-page-date-author {
  color: #757575;
  font-size: 0.875rem !important;
  margin-bottom: 1rem;
  text-align: left;
}
.blog-page-date {
  color: #757575;
  font-weight: 700;
}
.blog-page-author {
  color: #757575;
  font-weight: 700;
}
.blog-page-title {
  border-left: 8px solid;
  margin-bottom: 1rem !important;
  padding: 1rem !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  border-color: #326fd1;
  color: #212121;
  text-align: left;
}
.blog-page-info {
  margin-bottom: 2rem !important;
  font-size: 1.25rem !important;
  color: #616161;
  text-align: left;
}
.blog-page-categories {
  display: flex;
  margin-bottom: 2rem;
}
.category-badge {
  margin-right: 0.5rem;
}
.blog-page-parent p {
  margin-bottom: 1.5rem !important;
  line-height: 1.5 !important;
  color: #616161 !important;
  text-align: left;
}
.blog-page-parent blockquote {
  margin-bottom: 1.5rem !important;
  line-height: 1.5 !important;
  color: #616161 !important;
  font-size: 1.25rem;
}
.blog-page-img {
  margin-bottom: 1.5rem !important;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.blog-page-img img {
  border-radius: 6px;
  width: 80% !important;
  margin: auto;
}
.blog-page-parent h2 {
  text-align: left;
  margin-bottom: 1.5rem !important;
  color: #212121;
  font-size: 1.5rem;
}
/**/
.contact-page-title {
  margin-top: 3rem;
}
.embed-map {
  width: 90%;
  margin: auto;
  width: 100%;
}
.embed-map iframe {
  width: 70%;
  margin: auto;
  width: 100%;
}
.contact-us-page .contact-right a {
  display: none;
}
/**/
.faq-page-title {
  margin-top: 3rem;
}
.faq-page-bottom {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
}

.faq-page-bottom h2 {
  margin-bottom: 1.5rem !important;
  line-height: 1.5 !important;
  color: #616161 !important;
}
.faq-page-bottom button {
  margin: auto;
  margin-bottom: 3rem;
}
/**/
/* App.css */

.title {
  text-align: center;
  font-size: 2.2em;
  color: #0d47a1;
  margin-bottom: 30px;
}

.flexnet-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.flexnet-table th,
.flexnet-table td {
  border: 1px solid #e0e0e0;
  padding: 15px;
  text-align: left;
}

.flexnet-table th {
  background-color: #e0f7fa;
  font-size: 1.1em;
  color: #00796b;
}

.flexnet-table td {
  background-color: #ffffff;
}

.result-title {
  font-size: 1.5em;
  margin: 20px 0 10px;
  color: #0d47a1;
}

.package-list {
  list-style-type: disc;
  margin: 10px 0;
  padding-left: 20px;
  color: #444;
  display: inline-block;
}
.package-list li {
  font-weight: 700;
}

.cta {
  text-align: center;
  margin-top: 30px;
}

.price {
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #e65100;
}
.p-button {
  margin-right: 10px;
  padding: 5px;
}
.connectivity-page-button {
  margin: auto;
  margin-top: 2rem;
}
.vertical-solutions-page-title {
  margin-top: 3rem;
}
/**/
.all-blog-page-title {
  margin-top: 3rem;
}
.blog-bar {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  display: flex;
  gap: 10px;
  align-items: center;

  width: 100%;
}
.blog-bar svg {
  fill: rgb(181, 41, 41);
}
.blog-bar h1 {
  line-height: 1.5 !important;
  display: block;
  font-weight: 500 !important;
  color: #212121;
  font-size: 1.25rem;
}

/**/
.use-case-page-title {
  background-color: #f5b99f;
  padding: 5rem;
  text-transform: uppercase;
  text-align: left;
}
.use-case-page-title h3 {
  color: #f8a830;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.use-case-page-title h1 {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.use-case-page-content {
  display: flex;
}
.use-case-page-content-left {
  width: 25%;
  background-color: #ffd767;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #333333;
}
.use-case-page-content-right {
  width: 75%;
  background-color: #e1e8eb;
  padding: 50px;
  text-align: left;
}
.use-case-company-logo h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 23px;
}
.use-case-page-content-left-info h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-top: 35px;
}
.project-right-top {
  margin-bottom: 40px;
  font-size: 17px;
}
.project-overview h1 {
  color: #f95b17;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}
.project-overview p {
  font-size: 17px;
  margin-bottom: 30px;
}
.project-results h1 {
  color: #f95b17;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}
.project-results-text h1 {
  color: #333333 !important;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.project-circle-result-parent {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.project-circle-result {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f95b17;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
}
.project-circle-result-parent-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.solution-button {
  background-color: #3b82f6;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex !important;
  border-radius: 8px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
}
.solution-button a {
  color: white;
}
.vertical-box-p {
  margin-bottom: 20px;
}
.vertical-box-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
}
.vertical-box-button a {
  color: #555555;
}
.vertical-accordion-button {
  margin-left: 10px;
}
/**/
.new-verticalbox-parent {
  position: relative;
  width: 100%;
  max-width: 455px;
  margin-bottom: 150px;
}

.new-verticalbox-parent img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  background: linear-gradient(to top, #ffedd5, transparent);
}

.new-verticalbox-parent h1 {
  position: absolute;
  color: white;
  top: 20px;
  left: 0;
  left: 0;
  right: 0;
  font-size: 30px;
  z-index: 10;
}
.new-verticalbox-parent button {
  position: absolute;
  color: white;
  bottom: 0px;
  left: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  background-color: red;
}
.partners-button {
  background-color: #3b82f6;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex !important;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
}
.partners-button a {
  color: white;
}
.vertical-slayt .vertical-soli-box {
  width: 97% !important;
  height: 325px;
}
.mega-menu-general-link {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 15px;
  display: flex;
  text-decoration: underline;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 50px;
  align-items: center;
  text-align: center;
}
/**/
.contact-page-parent {
}
/**/
.single-vertical-parent {
  margin-top: 3rem;
}
.single-vertical-challenges {
  margin-bottom: 3rem;
  position: relative;
}
.single-vertical-challenges::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e5e7eb;
  bottom: 0;
  left: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 2px 6px rgba(0, 0, 0, 0.12) !important;
}
/**/
/* Her section tam ekranı kaplayacak */
.section {
  padding-bottom: 150px;
}
/**/
/**/
.flexnet-container {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

/* Center FlexNet circle */
.circle {
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #fff;
}

.flexnet {
  background-color: #2a9fd6;
  width: 100px;
  height: 100px;
  z-index: 6;
}

.center-label {
  font-size: 14px;
  color: #fff;
}
/**/
.blog-button {
  background-color: #3b82f6;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex !important;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

  align-items: center;
}
.blog-button a {
  color: white;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/

/* Ring styling */
.ring-1,
.ring-2,
.ring-3,
.ring-4,
.ring-5 {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ring-1 {
  background-color: #f2cfb1;
  width: 200px;
  height: 200px;
  z-index: 5;
}

.ring-2 {
  background-color: #b1d7f2;
  width: 300px;
  height: 300px;
  z-index: 4;
}

.ring-3 {
  background-color: #f2b1d1;
  width: 400px;
  height: 400px;
  z-index: 3;
}

.ring-4 {
  background-color: #d1b1f2;
  width: 500px;
  height: 500px;
  z-index: 2;
}

.ring-5 {
  background-color: #b1f2b7;
  width: 600px;
  height: 600px;
  z-index: 1;
}

/* Text positioning */
.text-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.label {
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
}

/* Text rotation for each ring */
.rotate-1 {
  position: absolute;
  transform: rotate(-30deg) translateX(90px) rotate(30deg); /* Adjust angles */
}

.rotate-2 {
  position: absolute;
  transform: rotate(-60deg) translateX(140px) rotate(60deg); /* Adjust angles */
}

.rotate-3 {
  position: absolute;
  transform: rotate(-90deg) translateX(190px) rotate(90deg); /* Adjust angles */
}

.rotate-4 {
  position: absolute;
  transform: rotate(-120deg) translateX(240px) rotate(120deg); /* Adjust angles */
}

.rotate-5 {
  position: absolute;
  transform: rotate(-150deg) translateX(290px) rotate(150deg); /* Adjust angles */
}

/* Tooltip styling */

.recharts-tooltip-wrapper div {
  transform: rotate(90deg) !important;
  background-color: #00796b;
  color: black !important;
  width: max-content;
  height: max-content;
}
.connectivity-chart {
  overflow: visible !important;
}
.connectivity-chart text {
  overflow: visible !important;
}
.connectivity-right p {
  margin-bottom: 5px;
}
.connecticity-solutions-p {
  font-size: 19px !important;
}
.usecases-home-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.usecases-home-box {
  width: 48%;
  padding: 20px;
  text-align: center;
  border-radius: 7px;
}
.usecases-home-icon {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 50px;
  margin-bottom: 20px;
  color: #fccc55;
}
.usecases-home-bottom h2 {
  font-size: 25px;
  font-weight: 500;
}
.usecases-home-bottom h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.mobile-navbar {
  display: none;
}
/*MOBILE*/
@media (max-width: 475px) {
  .main-page-hero {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
  }
  .main-page-hero-top {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    margin-top: 1rem !important;
  }
  .contact-button a {
    font-size: 0.9rem !important;
  }
  .vertical-soli-box {
    width: 100% !important;
  }
  .flex.connectivity-parent {
    flex-direction: column-reverse;
    padding: 1rem !important;
  }
  .connectivity-parent .connectivity-right {
    margin-top: 1rem !important;
  }
  .connectivity-parent .connectivity-right h3 {
    font-size: 1.75rem !important;
  }
  .connectivity-parent .connectivity-right p {
    font-size: 1.25rem !important;
  }
  .recharts-wrapper {
    scale: 0.8;
  }
  .connectivity-chart {
    scale: 0.8;
    margin: auto;
    left: 31px !important;
    top: 31px !important;
  }
  .section .usecases-home-parent {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .section .usecases-home-box {
    width: 100% !important;
  }
  .blog-box-parent {
    width: 100%;
  }
  .section .home-blog {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .section .faq-parent {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .faq-container {
    width: 100%;
  }
  .contact-left {
    width: 100%;
  }
  .contact-right {
    width: 100%;
  }
  .contact-left-box {
    padding-right: 0px !important;
  }
  .footer-parent {
    line-height: 2.25rem;
    margin-bottom: 1rem;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: #212121;
    font-size: 16px;
    color: #f1fff1 !important;
  }
  .footer-container {
    width: 50%;
  }
  .footer-container li {
    text-align: center;
  }
  .footer-address {
    font-size: 14px !important;
  }
  .section {
    padding-bottom: 50px;
  }
  .navbar-container {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  .mobile-navbar {
    display: inline-block !important;
  }
  .navbar-list {
    display: none !important;
  }
  #popup_menu_right {
    padding: 1rem;
  }
  #popup_menu_right li {
    margin-bottom: 5px;
  }
  .container.connectivity-container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
